<h2>My Ballots</h2>

<div>
  <label>Ballot name:
    <input #ballotName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(ballotName.value); ballotName.value=''">
    add
  </button>
</div>

<ul class="ballots">
  <li *ngFor="let ballot of ballots">
    <a routerLink="/detail/{{ballot.id}}">
      <span class="badge">{{ballot.id}}</span> {{ballot.vote}}
    </a>
    <button class="delete" title="delete ballot"
    (click)="delete(ballot)">x</button>
  </li>
</ul>
