<h2>{{electionName | async}} Ballot</h2>

<ul class="candidates">
  <li *ngFor="let candidate of candidates | async" (click)="onSelect(candidate)"
      [class.selected]="candidate === selectedCandidate">
      <span class="badge">{{candidate.id}}</span> {{candidate.name}}
  </li>
</ul>
<div *ngIf="canVote | async">
  <button (click)="vote()">
    vote
  </button>
</div>

<button routerLink="/election-details/{{address}}">
  results
</button>

<button routerLink="/reference">
  reference
</button>
